<!DOCTYPE HTML>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="hoge.css">

<body>
    <!-- <header>
        <h1><%=title %></h1>
    </header>
    <p><%-content %></p> -->
    <div class="miniWindow" id="world"></div>
    <div class="miniWindow" id="local"></div>
    <button type="button" id="addBox">add box</button>
    <button type="button" id="addSphere">add sphere</button>
    <button type="button" id="fuga">fugaaa</button>
    <div id="app">
        {{ message }}
    </div>
    <div id="app2">
        <color v-for="(key, i) in Object.keys(rgb)" v-model="rgb[key]" :key="i"></color>
    </div>
    <div>
        <p id="type"></p>
        <p id="size"></p>
    </div>

    <script src="dist/client/hoge.js"></script>
</body>
